body {
    font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    max-width: 1100px;
    margin: auto;
    text-align: center;
    background: linear-gradient(to bottom, rgb(116, 116, 171), rgb(25, 138, 175));
    min-height: 100vh;
}

header {
    margin-top: 75px;
}

p {
    font-size: 1.5rem;
}

header, p {
    color: white;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    /* existing styles */
    width: 250px;
    height: 250px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


a {
    text-decoration: none !important;
    color: inherit;
}

.card-tornado {
    background-color: #f0f8ff;
}

.card-wildfire {
    background-color: rgb(255, 207, 179);
}

.card-flooding {
    background-color: rgb(182, 247, 252);
}

.card-drought {
    background-color: #ffe4c4;
}

.card-hurricane {
    background-color: rgb(255, 214, 233);
}